<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="Keywords" content="keywords" />
<meta name="Description" content="Description" />
<title>배달의 한양</title>
<link rel="stylesheet" href="/static/css/screen.css" type="text/css" />
<a href='/' style="float:right">logout</a>
{% block head %}
{% endblock %}
</head>
<body>
<div id="wrap">

	<div id="header">
		<h1><img src="/static/logo.gif" width="180" height="50" alt="delivery"/></h1>
	</div>

{% block body %}
{% endblock %}
</div>
</body>
</html>
