{% extends "layout.html" %}

{% block body %}
<div id="main-menu">
    <ul id="nav">
        {% if info[0] == 1 %}
        <li><a href='/login/user/seller'>Seller</a></li>
        {% endif %}
        {% if info[1] == 1 %}
        <li><a href='/login/user/customer'>Customer</a></li>
        {% endif %}
        {% if info[2] == 1 %}
        <li><a href='/login/user/delivery'>Delivery</a></li>
        {% endif %}
    </ul>
</div>

<div id="container">
		<div id="content">
<div id="tt">가게 정보</div>

<table class="bbs-table">
<tr>
    <th style="width: 200px;">정보</th>
	<th>내용</th>
</tr>

<tr>
	<td style="text-align: center;">가게 이름</td>
    <td style="text-align: center;">{{ store["sname"] }}</td>
</tr>
<tr>
	<td style="text-align: center;">가게 주소</td>
    <td style="text-align: center;">{{ store["address"] }}</td>
</tr>
<tr>
    <td style="text-align: center;">가게 전화번호</td>
    <td style="text-align: center;">{{ store["phone"] }}</td>
</tr>
<tr>
    <td style="text-align: center;">가게 오픈시간</td>
    <td style="text-align: center;">{{ store["open_time"] }}</td>
</tr>
<tr>
    <td style="text-align: center;">가게 마감시간</td>
    <td style="text-align: center;">{{ store["close_time"] }}</td>
</tr>
</table>

<div id="tt">메뉴 정보</div>
<table class="bbs-table">
<tr>
    <th>메뉴이름</th>
    <th style="width: 200px;">수량/담기</th>
</tr>
{% for i in menu %}
<tr>
    <td style="text-align: center;">{{i['name']}}</td>
    <td style="text-align: center;">
        <form action='/login/user/customer/storebuy' method='post'>
        <input type='text' name="num">
        <input type='hidden' name="menu_id" value="{{ i['menu_id'] }}">
        <input type='hidden' name="sid" value="{{sid}}">
        <input type='hidden' name="menu" value="{{i['name']}}">
        <input type="submit" value="담기">
        </form>
    </td>
</tr>
{% endfor %}
</table>

<div id="tt">장바구니</div>
<table class="bbs-table">
<tr>
    <th>메뉴이름</th>
    <th style="width: 100px;">수량</th>
</tr>
{% for i in menulist %}
<tr>
    <td style="text-align: center;">{{i[0]}}</td>
    <td style="text-align: center;">{{i[1]}}</td>
</tr>
{% endfor %}
</table>
{# TODO: 아래의 p CHECK #}
{#{% if p %}#}
<div id="list-menu">
    <form action='/login/user/customer/storebuy/pay' method='post'>
        <input type='hidden' name="sid" value="{{sid}}">
        <input type="submit" value="결제">
        </form>
</div>
{#{% endif %}#}

</div>
</div>
<div id="sidebar">
	<h1>Customer</h1>
	<ul>
		<li><a href='/login/user/customer'>구매자 관리 화면</a></li>
        <li><a href='/login/user/customer/order'>주문Order 화면</a></li>
        <li><a href='/login/user/customer/buy'>구매화면</a></li>
	</ul>
</div>
{% endblock %}
