{% extends "layout.html" %}

{% block body %}
<div id="main-menu">
    <ul id="nav">
        {% if info[0] == 1 %}
        <li><a href='/login/user/seller'>Seller</a></li>
        {% endif %}
        {% if info[1] == 1 %}
        <li><a href='/login/user/customer'>Customer</a></li>
        {% endif %}
        {% if info[2] == 1 %}
        <li><a href='/login/user/delivery'>Delivery</a></li>
        {% endif %}
    </ul>
</div>

<div id="container">
		<div id="content">
<div id="tt">가게 리스트</div>

<table class="bbs-table">
<tr>
	<th style="width: 300px;">가게명</th>
	<th>가게 주소</th>
	<th style="width: 80px;">가게로 이동</th>
</tr>
{% for i in store%}
<tr>
	<td style="text-align: center;">{{ i["sname"] }}</td>
    <td style="text-align: center;">{{ i["address"] }}</td>
    <td style="text-align: center;">
        <form action='/login/user/seller/store' method='post'>
        <input type='hidden' name="sid" value="{{i['store_id']}}">
        <input type="submit" value="이동">
        </form>
    </td>
</tr>
{% endfor %}
</table>
</div>
</div>

<div id="sidebar">
	<h1>Seller</h1>
	<ul>
		<li><a href='/login/user/seller'>소유중인 가게 리스트</a></li>
		<li><a href='/login/user/schange'>개인 정보 변경</a></li>
	</ul>
</div>




{% endblock %}
